body {
    margin: 0; 
    padding: 0;
    /* height: 100%;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #3d5a80;
    color: #e0fbfc;
    font-family: 'Roboto Mono', monospace;
}

.h1 {
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column; 
    /* justify-content: center;
    align-items: center; */
    /* margin: 100px 200px 100px 200px;  */

    border: 1px solid black;
    min-width: 300px;
    min-height: 500px;
    max-height: 500px;
    max-width: 300px;
    flex: 1;
    background-color: #ee6c4d;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
}

.screen {

    display: flex;
    flex-direction: column;
    min-height: 10vh;
    
    color : black;

    background-color: white;
    border: 1px solid black;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    
    /* font-size: 50px; */
    border-radius: 10px;
    justify-content: space-between;


}

/* .details {

} */

.result {
    font-size: 30px;
    font-weight: bold;
    text-align: end;
    /* max-width : 280px; */
}
.details-container,.result-container {
    max-width: 280px;
    /* overflow:scroll; */
    overflow: hidden;
    
    /* text-overflow: clip;
    direction: rtl; */

}
::-webkit-scrollbar {
    display: none;
}
p {
    padding: 0;
    margin: 0;
}
.calc-body{
    display: flex;
    flex-direction: column;
    background-color: white;
    /* min-height: 300px; */
    flex: 1;
    border: 1px solid black;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}
.row {
    flex: 1;
    display: flex;
    gap: 10px;
}
button {
    flex: 1;
    border-radius: 10px;

    color: black;
}


/*credit to zel */
button:hover {
    background-color: rgb(181, 180, 180)
}

.footer {
    margin-top: auto;
    /* margin-left: auto;
    margin-right: auto; */
    display: flex;
    background-color: #293241;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px 0px;
    min-width: 100%;
}

.specialBtn {
    background-color: #ee6c4d;
}

.specialBtn:hover {
    background-color: #ab452c;
}

.operator {
    background-color: #e0fbfc;

}
.operator:hover {
    background-color: #98c1d9;
}